@import "../../App.scss";


.main-section {
    background: white;
    position: relative;
    @include default-border-radius;
    overflow: scroll;
    height: 70vh;
    @include center-content;
    display: inline-block;
    width: 100%;
    z-index: 5;
    -webkit-box-shadow: -20px -20px 14px 1px rgba($tertiary-highlight-color, 0.5);
    -moz-box-shadow: -20px -20px 14px 1px rgba($tertiary-highlight-color, 0.5);
    box-shadow: -20px -20px 14px 1px rgba($tertiary-highlight-color, 0.5);
    overflow-x: hidden;
}
.header-image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 5;
    height: 20.75rem;
    background-color: $highlight-color;
    background: url("../../assets/images/seattle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 5px 5px 0 0;
    &::before, &::after{
        content: '';
        position: absolute;
        margin-top: 110px;
        width: 700px;
        z-index: 5;
	    height: 200px;
        background: #ffffff;
        overflow: hidden;
    }
    &::before {
        transform: rotate(-12deg);
    }
    &::after {
        transform: rotate(12deg);
        -webkit-box-shadow: 0px 8px 14px 1px $main-color;
        -moz-box-shadow: 0px 8px 14px 1px $main-color;
        box-shadow: 0px 8px 14px 1px $main-color;
    }
}
.heading-section, .main-info-section {
    max-height: 300px;
}
.main-info-section {
    margin-top: 70px;
    margin-bottom: 30px;
    max-height: fit-content;
}
.profile-image-section {
    position: relative;
    display: flex;
    z-index: 5;
    align-items: flex-end;
    justify-content: center;
}
.profile-image {
    position: absolute;
    height: 14.45rem;
    width: auto;
    border-radius: 100%;
    border: 5px solid white;
    -webkit-box-shadow: -8px 8px 5px 3.5px rgba($highlight-color, 0.5);
    -moz-box-shadow: -8px 8px 5px 3.5px rgba($highlight-color, 0.5);
    box-shadow: -8px 8px 6px 3.5px rgba($highlight-color, 0.5);
}
.main-info {
    @include center-content;
    position: relative;
    z-index: 5;
}
.social-links {
    margin: 0 1rem 0 1rem;
}
.main-contact-section {
    position: relative;
    @include center-content;
    height: 3rem;
    width: 100%;
    z-index: 5;
    .col-5 {
        padding: 0;
    }
    &:hover {
        cursor: pointer;
        color: $secondary-highlight-color;
    }
}
.contact-button-area {
    height: auto;
    width: 100%;
}
.footer {
    bottom: 0;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 500px) {
    .main-section {
        -webkit-box-shadow: -20px -20px 14px 1px rgba($tertiary-highlight-color, 0);
        -moz-box-shadow: -20px -20px 14px 1px rgba($tertiary-highlight-color, 0);
        box-shadow: -20px -20px 14px 1px rgba($tertiary-highlight-color, 0);
    }
}