@import "../../App.scss";

.loading {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    @include main-linear-background;
    animation: loading 2.5s linear infinite;
    overflow: visible;
    &:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        border-radius: 50%;
        background: white;
    }
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
        left: -42.5%;
    }
    25% {
        left: 0%;
    }
    50% {
        left: 42.5%;
        transform: rotate(360deg);
    }
    75% {
        left: 0%;
    }
    100% {
        transform: rotate(0deg);
        left: -42.5%;
    }
}