@import "../../App.scss";

.blog-post {
    width: 100%;
    height: auto;
    padding-top: 20px;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
    color: $secondary-color;
    padding: 0.5rem;
    margin: 1rem 0;
    &:hover {
        @include default-border-radius;
        background: $secondary-color;
        background: linear-gradient(0deg, $secondary-color 0%, $tertiary-color 100%);
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
        .blog-title,
        .blog-date,
        .blog-type {
            color: rgb(255, 255, 255);
        }
        .blog-image {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
}
.blog-image {
    width: 100%;
    height: 298px;
}
.blog-info {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    .blog-title {
        width: 100%;
        @include center-content;
    }
    .blog-date,
    .blog-type {
        width: 50%;
        @include center-content;
        float: left;
    }
    .blog-date {
        @include default-border-radius;
        border: 3px solid $highlight-color;
    }
    .blog-type {
        font-size: 10px;
        font-style: italic;
    }
}
