$main-color: rgb(0,0,0);
$secondary-color: rgb(34, 34, 34);
$tertiary-color: rgb(69, 68, 68);
$highlight-color: rgb(133, 0, 0);
$secondary-highlight-color: rgb(181, 57, 57);
$tertiary-highlight-color: rgb(46, 2, 2);
@mixin default-border-radius {
    border-radius: 5px;
}
@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin white-red-dark-gradient-horizontal {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, $highlight-color 26%, $tertiary-highlight-color 48%, $highlight-color 74%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, $highlight-color 26%, $tertiary-highlight-color 48%, $highlight-color 74%, rgba(255,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, $highlight-color 26%, $tertiary-highlight-color 48%, $highlight-color 74%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
@mixin white-red-dark-gradient-vertical {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, $highlight-color 26%, $tertiary-highlight-color 48%, $highlight-color 74%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, $highlight-color 26%, $tertiary-highlight-color 48%, $highlight-color 74%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, $highlight-color 26%, $tertiary-highlight-color 48%, $highlight-color 74%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
@mixin main-linear-background {
    background: linear-gradient(to bottom, $tertiary-highlight-color 0%, $highlight-color 40%, $secondary-highlight-color 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    background-size: cover;
}
@mixin animate-side {
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
@mixin animated-content {
    animation-name: fade-content;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}
@mixin slide-in-page {
    @keyframes fade-in {
        0% {
            display: none;
            opacity: 0;
            left: -100%;
            width: 0%;
            background: rgb(255,255,255);
            background: -moz-linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 100%);
            background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 100%);
            background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0) 100%);
        }
        100% {
            display: inline-block;
            opacity: 1;
            left: 0;
            width: 100%;
            background: rgb(255,255,255);
            background: -moz-linear-gradient(-90deg, rgba(255,255,255,1) 100%, rgba(255, 255, 255, 0) 100%);
            background: -webkit-linear-gradient(-90deg, rgba(255,255,255,1) 100%, rgba(255, 255, 255, 0) 100%);
            background: linear-gradient(-90deg, rgba(255,255,255,1) 100%, rgba(255, 255, 255, 0) 100%);
        }
    }
}
@mixin fade-in-content {
    @keyframes fade-content {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

#root {
    padding: 0;
    margin: 0;
}
body {
    padding:0;
    margin:0;
}
* {
    font-family: 'Quicksand', sans-serif;
}
.app-background {
    @include main-linear-background;
    position: relative;
    height: auto;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    @include center-content;
}
.center-content {
    margin: auto;
    text-align: center;
    @include center-content;
}
.horizontal-line {
    height: 1px;
    width: 100%;
    @include white-red-dark-gradient-horizontal;
}
.vertical-line {
    height: 100%;
    min-height: 2.5rem;
    width: 1px;
    @include white-red-dark-gradient-vertical;
}
.row {
    padding: 0;
}
.remove-left-margin {
    margin-left: 30px;
}
.remove-right-margin {
    margin-left: -30px;
}
.header-text {
    font-size: 2rem;
    color: $main-color;
}
.secondary-header-text {
    font-size: 1.5rem;
    color: $highlight-color;
}
.position-text {
    font-size: 1rem;
    color: $main-color;
}
a {
    color: $main-color;
    text-decoration: none;
    &:visited {
        color: $secondary-highlight-color;
    }
    &:hover {
        color: $secondary-highlight-color;
        text-decoration: none;
    }
}
.page-section-border {
    display: inline-block;
    width: 100%;
    height: 100%;
    .page-section {
        padding: 2%;
        width: 100%;
        height: auto;
        overflow: scroll;
        overflow-x: hidden;
        word-wrap: break-word;
        background: white;
        @include animated-content;
        @include fade-in-content;
    }
}



@media only screen and (max-width: 769px) {
    .remove-left-margin {
        margin-left: 0px;
    }
    .remove-right-margin {
        margin-left: 0px;
    }
}
@media only screen and (max-width: 500px) {
    .vertical-line {
        display: none;
    }
}