$main-color: rgb(0,0,0);
$secondary-color: rgb(34, 34, 34);
$tertiary-color: rgb(69, 68, 68);
$highlight-color: rgb(133, 0, 0);
$secondary-highlight-color: rgb(181, 57, 57);
$tertiary-highlight-color: rgb(46, 2, 2);

#root {
    padding: 0;
    margin: 0;
}
body {
    padding:0;
    margin:0;
}
.app-background {
    background: linear-gradient(to bottom, $tertiary-highlight-color 0%, $highlight-color 40%, $secondary-highlight-color 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    position: relative;
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}