@import "../../App.scss";

@mixin nav {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    @include default-border-radius;
    background: white;
}
.side-menu {
    @include nav;
}
.side-menu-bounce {
    @include nav;
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
.menu-item {
    width: 100%;
    height: 75px;
    &:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    &:hover {
        cursor: pointer;
        background: $highlight-color;
        transition: 0.5s;
        .fas,
        .fab,
        .menu-titles {
            color: white;
            transition: 0.5s;
        }
    }
}
.fas,
.fab,
svg {
    margin-top: 10px;
    font-size: 32px;
    color: $highlight-color;
}
.menu-titles {
    color: $highlight-color;
    font-size: 16px;
}
@keyframes bounce {
    0% {
        top: 0%;
    }
    25% {
        top: 3%;
    }
    50% {
        top: 0%;
    }
    75% {
        top: 5%;
    }
    100% {
        top: 0%;
    }
}

@media only screen and (max-width: 1200px) {
    .side-menu,
    .side-menu-bounce {
        display: block;
    }
    .fas,
    .fab {
        font-size: 28px;
    }
    .menu-titles {
        font-size: 10px;
    }
}
@media only screen and (max-width: 990px) {
    .side-menu,
    .side-menu-bounce {
        display: block;
    }
    .fas,
    .fab {
        font-size: 24px;
    }
    .menu-titles {
        display: none;
    }
}
@media only screen and (max-width: 769px) {
    .side-menu,
    .side-menu-bounce {
        display: flex;
        height: 100%;
        width: 100%;
        .horizontal-line {
            display: none;
        }
    }
    .menu-item {
        &:first-child {
            border-top-right-radius: 0px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0px;
        }
    }
    .fas,
    .fab {
        font-size: 32px;
    }
    .menu-titles {
        display: block;
        font-size: 16px;
    }
}
@media only screen and (max-width: 501px) {
    .side-menu,
    .side-menu-bounce {
        height: auto;
        width: 100%;
        z-index: 7;
    }
}
